:host {
    height: 100%;
}

.list-container {
    height: 100%;

    &__item {
        text-align: left;
        margin-bottom: 5px;
        width: 100%;

        &__label {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.flex {
    display: flex;
}

.no-items-message {
    text-align: center;
}

cdk-virtual-scroll-viewport ::ng-deep .cdk-virtual-scroll-content-wrapper {
    max-width: 100%;
}