<div class="page">
  <mat-card class="page__list">
  </mat-card>
  <div class="page__right-side">
    <div class="page__right-side__user-info">
      <mat-card class="page__right-side__user-info__map-container">
        <map [locationData]="marker"></map>
      </mat-card>

      <mat-card class="page__right-side__user-info__info-container">
      </mat-card>
    </div>
    <div class="page__right-side__search-bar">
      <mat-card class="page__right-side__search-bar__container">
        <search-bar (search)="getIpAddressInfo($event)"></search-bar>
      </mat-card>
    </div>
    <div class="page__right-side__search-info">

      <mat-card class="page__right-side__search-info__map-container">
        <map></map>
      </mat-card>
      <mat-card class="page__right-side__search-info__info-container">
      </mat-card>
    </div>
  </div>
</div>