.page {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(37deg, #666666, white);

    &__list {
        margin: 30px 10px 30px 30px;
        width: 20%;
    }

    &__right-side {
        display: grid;
        width: 80%;
        margin: 30px 30px 30px 10px;
        grid-template-rows: 45% [row-start] 10% [row-start] 45% [row-start];
        
        &__address-info {
            display: flex;
            width: 100%;

            &__map-container {
                width: 70%;
                margin-right: 10px;

                &__map {
                    height: 100%;
                }
            }

            &__info-container {
                width: 30%;
                margin-left: 10px;

                &__info-table {
                    overflow: auto;
                    height: 100%;
                }
            }
        }
    
        &__search-bar {
            display: flex;

            &__container {
                width: 100%;
            }
        }
    }
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-t-20 {
    margin-top: 20px;
}