.page {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(37deg, #666666, white);

    &__list {
        margin: 30px 10px 30px 30px;
        width: 20%;
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 30px 30px 30px 10px;

        &__user-info {
            display: flex;
            width: 100%;
            max-height: 45%;
            height: -webkit-fill-available;

            &__map-container {
                width: 70%;
                margin-right: 10px;
                margin-bottom: 20px;
            }

            &__info-container {
                width: 30%;
                margin-left: 10px;
                margin-bottom: 20px;
            }
        }
    
        &__search-bar {
            display: flex;
            height: 10%;
            min-height: 85px;

            &__container {
                width: 100%;
            }
        }
    
        &__search-info {
            display: flex;
            width: 100%;
            max-height: 45%;
            height: -webkit-fill-available;

            &__map-container {
                width: 70%;
                margin-right: 10px;
                margin-top: 20px;
            }

            &__info-container {
                width: 30%;
                margin-left: 10px;
                margin-top: 20px;
            }
        }
    }

}