<div class="search-container">

    <mat-form-field class="search-container__input">
        <mat-label>Type in IP or URL address</mat-label>
        <input matInput
            addressInput
            type="text"
            [formControl]="searchFieldControl"
            (keyup.enter)="search.emit(searchFieldControl.value)">
    </mat-form-field>

    <button mat-raised-button
        class="search-container__button"
        color="primary"
        (click)="search.emit(searchFieldControl.value)">
        Search
    </button>

</div>