:host {
    height: inherit;
}

.search-container {
    width: 100%;
    display: flex;
    height: inherit;

    &__input {
        width: 80%;
    }

    &__button {
        width: 20%;
        margin: 0px 10px 0px 20px;
    }
}